<h2><%= @restaurant.name %></h2>
<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>
  <li>Vibe: <%= @restaurant.category %></li>
  <% @restaurant.reviews.each do |review| %>
    <li>Rating: <%= review.rating %> Comments: <%= review.content %>
  <% end %>
</ul>
<%= link_to "Add Rating",  new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to top", restaurants_path %>
